<header id="header">
  <div class="header-branding">
    <img id="app-logo" src="../../../assets/rose.svg" alt="app-logo">
    <span id="app-title">Fastor - Handpicked Products</span>
    <span class="fill-remaining-space"></span>
  </div>
  <div class="fill-remaining-space"></div>
  <div class="search-panel-query-container">
    <svg xmlns="http://www.w3.org/2000/svg" class="search-panel-query-icon" width="24px" height="24px" viewBox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
    </svg>
    <input type="search" class="search-panel-query"
           placeholder="Search"
           aria-invalid="false" style="">
  </div>
  <div class="fill-remaining-space"></div>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li>
        <a href="" class="header-nav-link is-active">Home</a>
      </li>
      <li>
        <a href="" class="header-nav-link">Followers</a>
      </li>
      <li>
        <a href="" class="header-nav-link">Posts</a>
      </li>
      <li>
        <a href="" class="header-nav-link">About</a>
      </li>
    </ul>
  </nav>
  <div class="account">
    <button mat-raised-button class="md-button md-icon-button header-icon theme-chooser-toggle md-button md-ink-ripple" type="button" ng-transclude="" md-button="" ng-click="themeChooser.toggle(true)" aria-label="Change background color" title="Change background color">
      <svg viewBox="-1 0 20 20" width="18px" name="account" fill="currentColor" class="base__BaseStyledComponent-sc-1l64hnd-0 base__Svg-sc-1l64hnd-4 icon__Icon-sc-1bl0yf2-0 goCHwU">
        <path d="M9,8 C10.6568542,8 12,6.65685425 12,5 C12,3.34314575 10.6568542,2 9,2 C7.34314575,2 6,3.34314575 6,5 C6,6.65685425 7.34314575,8 9,8 Z M5.54396677,8.61329647 C4.592539,7.70302603 4,6.42071046 4,5 C4,2.23857625 6.23857625,0 9,0 C11.7614237,0 14,2.23857625 14,5 C14,6.42071046 13.407461,7.70302603 12.4560332,8.61329647 C16.2757804,10.0201274 19,13.6919259 19,18 L17,18 C17,13.581722 13.418278,10 9,10 C4.581722,10 1,13.581722 1,18 L-1,18 C-1,13.6919259 1.72421959,10.0201274 5.54396677,8.61329647 Z" pointer-events="none">
        </path>
      </svg>
      <span>Account</span>
      <div class="md-ripple-container"></div>
    </button>
  </div>
  <div class="shopping-cart">
    <button mat-raised-button class="md-button md-icon-button header-icon theme-chooser-toggle md-button md-ink-ripple" type="button" ng-transclude="" md-button="" ng-click="themeChooser.toggle(true)" aria-label="Change background color" title="Change background color">
      <svg viewBox="0 0 20 20" width="15px" color="header.text" name="cart" fill="currentColor" class="base__BaseStyledComponent-sc-1l64hnd-0 base__Svg-sc-1l64hnd-4 icon__Icon-sc-1bl0yf2-0 fCYOlk">
        <path d="M12.2410711,5 L2,5 L2,11 L10.2774347,11 L12.2410711,5 Z M2,3 L15,3 L11.7272727,13 L0,13 L0,0 L2,0 L2,3 Z M1.5,18 C0.671572875,18 0,17.3284271 0,16.5 C0,15.6715729 0.671572875,15 1.5,15 C2.32842712,15 3,15.6715729 3,16.5 C3,17.3284271 2.32842712,18 1.5,18 Z M9.5,18 C8.67157288,18 8,17.3284271 8,16.5 C8,15.6715729 8.67157288,15 9.5,15 C10.3284271,15 11,15.6715729 11,16.5 C11,17.3284271 10.3284271,18 9.5,18 Z" pointer-events="none">
        </path>
      </svg>
      <span>Cart</span>
      <div class="md-ripple-container"></div>
    </button>
  </div>
</header>
