#app-logo {
  margin-left: 40px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

#app-title {
  color: white;
  font-size: 22px;
  font-weight: bolder;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.sub-menu-options {
  display: flex;
  align-items: center;
}

.sub-menu-items {
  list-style-type: none;
  margin-right: 40px;
}

.sub-menu-items a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 22px;
  font-weight: bolder;
}

.sub-menu-items a:hover {
  color: white;
}


