#app-logo {
  margin-left: 40px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.sub-menu-options {
  display: flex;
  align-items: center;
}

.sub-menu-items {
  list-style-type: none;
  margin-right: 40px;
}

.sub-menu-items a {
  text-decoration: none;
  display: block;
  color: rgba(0,0,0,.87);
}

.sub-menu-items a:hover {
  color: white;
}


