<mat-toolbar color="accent">
  <img id="app-logo" src="../../../assets/rose.svg" alt="app-logo">
  <span id="app-title">Fastor - Handpicked Fruits & Vegitables</span>
  <span class="fill-remaining-space"></span>
  <ul class="sub-menu-options">
    <li class="sub-menu-items">
      <a href="">Home</a>
    </li>
    <li class="sub-menu-items">
      <a href="">Followers</a>
    </li>
    <li class="sub-menu-items">
      <a href="">Posts</a>
    </li>
    <li class="sub-menu-items">
      <a href="">About</a>
    </li>
  </ul>
</mat-toolbar>
